USE [master]
GO
/****** Object:  Database [Account]    Script Date: 12/16/2018 12:36:35 PM ******/
CREATE DATABASE [Account]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Account', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Account.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Account_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Account_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Account].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Account]
GO
/****** Object:  Table [dbo].[RoleAssigns]    Script Date: 12/16/2018 12:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAssigns](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_RoleAssigns] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/16/2018 12:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/16/2018 12:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[RoleAssigns] ([UserID], [RoleID]) VALUES (1, 1)
INSERT [dbo].[RoleAssigns] ([UserID], [RoleID]) VALUES (2, 2)
INSERT [dbo].[RoleAssigns] ([UserID], [RoleID]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'client')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'guest')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [CreatedDate]) VALUES (1, N'user2', N'E10ADC3949BA59ABBE56E057F20F883E', N'user2@mail.com', CAST(0x0000A9B600CD3BD8 AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [CreatedDate]) VALUES (2, N'user3', N'E10ADC3949BA59ABBE56E057F20F883E', N'user2@mail.com', CAST(0x0000A9B600CD779C AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [CreatedDate]) VALUES (3, N'user4', N'E10ADC3949BA59ABBE56E057F20F883E', N'user2@mail.com', CAST(0x0000A9B600CE37CC AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[RoleAssigns]  WITH CHECK ADD  CONSTRAINT [FK_RoleAssigns_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RoleAssigns] CHECK CONSTRAINT [FK_RoleAssigns_Roles]
GO
ALTER TABLE [dbo].[RoleAssigns]  WITH CHECK ADD  CONSTRAINT [FK_RoleAssigns_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RoleAssigns] CHECK CONSTRAINT [FK_RoleAssigns_Users]
GO
USE [master]
GO
