USE [Account]
GO
ALTER TABLE [dbo].[RoleAssigns] DROP CONSTRAINT [FK_RoleAssigns_Users]
GO
ALTER TABLE [dbo].[RoleAssigns] DROP CONSTRAINT [FK_RoleAssigns_Roles]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07-Jan-19 21:14:00 ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07-Jan-19 21:14:00 ******/
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RoleAssigns]    Script Date: 07-Jan-19 21:14:00 ******/
DROP TABLE [dbo].[RoleAssigns]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Account].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Account]
GO
USE [Account]
GO
/****** Object:  Table [dbo].[RoleAssigns]    Script Date: 07-Jan-19 21:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAssigns](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_RoleAssigns] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07-Jan-19 21:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07-Jan-19 21:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RoleAssigns] ([UserID], [RoleID]) VALUES (1, 1)
INSERT [dbo].[RoleAssigns] ([UserID], [RoleID]) VALUES (2, 2)
INSERT [dbo].[RoleAssigns] ([UserID], [RoleID]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'client')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [CreatedDate]) VALUES (1, N'admin', N'E10ADC3949BA59ABBE56E057F20F883E', N'admin@mail.com', CAST(N'2018-12-14T12:27:14.000' AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [CreatedDate]) VALUES (2, N'user1', N'E10ADC3949BA59ABBE56E057F20F883E', N'user1@mail.com', CAST(N'2018-12-14T12:28:05.000' AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [CreatedDate]) VALUES (3, N'user2', N'E10ADC3949BA59ABBE56E057F20F883E', N'user2@mail.com', CAST(N'2018-12-14T12:30:49.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[RoleAssigns]  WITH CHECK ADD  CONSTRAINT [FK_RoleAssigns_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RoleAssigns] CHECK CONSTRAINT [FK_RoleAssigns_Roles]
GO
ALTER TABLE [dbo].[RoleAssigns]  WITH CHECK ADD  CONSTRAINT [FK_RoleAssigns_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RoleAssigns] CHECK CONSTRAINT [FK_RoleAssigns_Users]
GO
USE [master]
GO
