<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="QuanLyVeXe" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=ROOT\SQLEXPRESS;Initial Catalog=QuanLyVeXe;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>